* {
          list-style-type: none;
}
/* Etiqueta{
          font-style:initial;
          color: black;
          font-size: 1rem;
          font-weight: bold;
          text-decoration: none;


} */
/* a:hover {
          font-style: italic;
          color: rgb(241, 110, 110)
          
} */

img {
          height:120px ;
}
